.elementor-3856 .elementor-element.elementor-element-e5d8b49 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-3856 .elementor-element.elementor-element-e5d8b49:not(.elementor-motion-effects-element-type-background),
.elementor-3856 .elementor-element.elementor-element-e5d8b49>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-3856 .elementor-element.elementor-element-e5d8b49,
.elementor-3856 .elementor-element.elementor-element-e5d8b49::before {
	/* --border-transition: 0.3s; */
	/* .elementor-3856 .elementor-element.elementor-element-3ea9422 {
        --width: 50%; */
}

.elementor-3856 .elementor-element.elementor-element-e5d8b49.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-3856 .elementor-element.elementor-element-3ea9422 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--background-transition: 0.3s;
}

.elementor-3856 .elementor-element.elementor-element-3ea9422.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-3856 .elementor-element.elementor-element-28496db .widget-image-caption {
	margin-top: 0px;
	margin-bottom: 0px;
}

.elementor-3856 .elementor-element.elementor-element-28496db {
	width: var(--container-widget-width, 130.157%);
	max-width: 130.157%;
	--container-widget-width: 130.157%;
	--container-widget-flex-grow: 0;
}

.elementor-3856 .elementor-element.elementor-element-28496db>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-3856 .elementor-element.elementor-element-28496db.elementor-element {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-3856 .elementor-element.elementor-element-28496db .hfe-site-logo-container .hfe-site-logo-img {
	border-style: none;
}

.elementor-3856 .elementor-element.elementor-element-c4c2c03 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 12px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-3856 .elementor-element.elementor-element-c4c2c03.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item a.hfe-menu-item {
	padding-left: 12px;
	padding-right: 12px;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item a.hfe-sub-menu-item {
	padding-left: calc(12px + 20px);
	padding-right: 12px;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
	padding-left: calc(12px + 40px);
	padding-right: 12px;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(12px + 60px);
	padding-right: 12px;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(12px + 80px);
	padding-right: 12px;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item a.hfe-menu-item,
.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

body:not(.rtl) .elementor-3856 .elementor-element.elementor-element-db08b68 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
	margin-right: 0px;
}

body.rtl .elementor-3856 .elementor-element.elementor-element-db08b68 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
	margin-left: 0px;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
	margin-bottom: 0px;
}

body:not(.rtl) .elementor-3856 .elementor-element.elementor-element-db08b68 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item {
	margin-bottom: 0px;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 ul.sub-menu {
	width: 220px;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .sub-menu a.hfe-sub-menu-item,
.elementor-3856 .elementor-element.elementor-element-db08b68 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-3856 .elementor-element.elementor-element-db08b68 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-3856 .elementor-element.elementor-element-db08b68 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-3856 .elementor-element.elementor-element-db08b68 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-3856 .elementor-element.elementor-element-db08b68>.elementor-widget-container {
	margin: 0px 50px 0px 0px;
	padding: 20px 0px 0px 0px;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .hfe-nav-menu__toggle {
	margin: 0 auto;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 a.hfe-menu-item,
.elementor-3856 .elementor-element.elementor-element-db08b68 a.hfe-sub-menu-item {
	font-family: "Gilda Display", Sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item a.hfe-menu-item,
.elementor-3856 .elementor-element.elementor-element-db08b68 .sub-menu a.hfe-sub-menu-item {
	color: var(--e-global-color-astglobalcolor5);
	/* color: #000000; */
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item a.hfe-menu-item:hover,
.elementor-3856 .elementor-element.elementor-element-db08b68 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item a.hfe-menu-item.highlighted,
.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item a.hfe-menu-item:focus {
	color: #D0B483;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item.current-menu-ancestor a.hfe-menu-item {
	color: #D0B483;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .sub-menu,
.elementor-3856 .elementor-element.elementor-element-db08b68 nav.hfe-dropdown,
.elementor-3856 .elementor-element.elementor-element-db08b68 nav.hfe-dropdown-expandible,
.elementor-3856 .elementor-element.elementor-element-db08b68 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-3856 .elementor-element.elementor-element-db08b68 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
	background-color: #0c0a0a;
}

.elementor-3856 .elementor-element.elementor-element-db08b68 .sub-menu li.menu-item:not(:last-child),
.elementor-3856 .elementor-element.elementor-element-db08b68 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-3856 .elementor-element.elementor-element-db08b68 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
	border-bottom-width: 1px;
}

.elementor-3856 .elementor-element.elementor-element-228be7b {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: flex-end;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 15px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-3856 .elementor-element.elementor-element-0f28b41 .elementor-button {
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #740101;
	padding: 15px;
	font-size: 13px;
	letter-spacing: 2px;
}

.elementor-3856 .elementor-element.elementor-element-0f28b41 .elementor-button:hover,
.elementor-3856 .elementor-element.elementor-element-0f28b41 .elementor-button:focus {
	color: #FFFFFF;
	background-color: #000000;
}

.elementor-3856 .elementor-element.elementor-element-0f28b41 .elementor-button:hover svg,
.elementor-3856 .elementor-element.elementor-element-0f28b41 .elementor-button:focus svg {
	fill: #FFFFFF;
}

@media(max-width:1024px) {
	body:not(.rtl) .elementor-3856 .elementor-element.elementor-element-db08b68.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-right: 0px;
	}

	body .elementor-3856 .elementor-element.elementor-element-db08b68 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-bottom: 0px;
	}
}

@media(min-width:768px) {
	.elementor-3856 .elementor-element.elementor-element-e5d8b49 {
		--width: 94.977%;
	}

	.elementor-3856 .elementor-element.elementor-element-3ea9422 {
		--width: 17.146%;
	}

	.elementor-3856 .elementor-element.elementor-element-c4c2c03 {
		--width: 69.123%;
	}

	.elementor-3856 .elementor-element.elementor-element-228be7b {
		--width: 25%;
	}
}

@media(max-width:767px) {
	.elementor-3856 .elementor-element.elementor-element-e5d8b49 {
		--width: 209px;
	}

	.elementor-3856 .elementor-element.elementor-element-3ea9422 {
		--width: 50%;
	}

	.elementor-3856 .elementor-element.elementor-element-28496db .hfe-site-logo .hfe-site-logo-container img {
		width: 15%;
	}

	.elementor-3856 .elementor-element.elementor-element-28496db>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-3856 .elementor-element.elementor-element-28496db {
		--container-widget-width: 536px;
		--container-widget-flex-grow: 0;
		width: var(--container-widget-width, 536px);
		max-width: 536px;
	}

	.elementor-3856 .elementor-element.elementor-element-c4c2c03 {
		--width: 50%;
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item a.hfe-menu-item {
		padding-left: 0px;
		padding-right: 0px;
	}

	.elementor-3856 .elementor-element.elementor-element-db08b68 .menu-item a.hfe-sub-menu-item {
		padding-left: calc(0px + 20px);
		padding-right: 0px;
	}

	.elementor-3856 .elementor-element.elementor-element-db08b68 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
		padding-left: calc(0px + 40px);
		padding-right: 0px;
	}

	.elementor-3856 .elementor-element.elementor-element-db08b68 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
		padding-left: calc(0px + 60px);
		padding-right: 0px;
	}

	.elementor-3856 .elementor-element.elementor-element-db08b68 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
		padding-left: calc(0px + 80px);
		padding-right: 0px;
	}

	body:not(.rtl) .elementor-3856 .elementor-element.elementor-element-db08b68.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-right: 0px;
	}

	body .elementor-3856 .elementor-element.elementor-element-db08b68 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-bottom: 0px;
	}

	.elementor-3856 .elementor-element.elementor-element-db08b68>.elementor-widget-container {
		margin: 00px 00px 00px 00px;
		padding: 0px 0px 0px 0px;
	}
}